<html>
<body background = "http://www.madexpro.com.ar/wp-content/uploads/2015/04/bolillas-test-3.jpg">
	<h1 align="center">Bienvenido a VINGO</h1>
	<div style="text-align:center">
		<form method="post" action="/juego">
			<input type="submit" value="Iniciar Juego">
		</form>
	</div>
</body>
</html>
